<form action="{% url 'erp:register_db'  %}" method = "post">
{% csrf_token %}

    {% for job in jobs.all %}
        <datalist id="jobs">
            <option value="{{ job.id }}" label="{{ job.name_job }}">
        </datalist>
    {% endfor %}

    <fieldset>
        <legend><h2>Registro de empleado</h2></legend>

            {% if error_message %}
                <p><strong>{{error_message}}</strong></p>    
            {% endif %}

            <label for="user">Nombre completo</label>
            <input type="text" name="user" required>

            <label for="number">Edad</label>
            <input type="number" name="age" required>

            <label for="email">Correo electronico</label>
            <input type="email" name="email" required>

            

            <label for="">Puesto</label>
            <input list = "jobs" name ="job" required autocomplete="off">

    </fieldset>
    <button type="submit">Registrar empleado</button>
</form>