<form action="{% url 'erp:register_db'  %}" method = "post">
{% csrf_token %}

    <fieldset>
        <legend><h2>Registro de empleado</h2></legend>

            {% if error_message %}
                <p><strong>{{error_message}}</strong></p>    
            {% endif %}

            <label for="user">Nombre completo</label>
            <input type="text" name="user" required>

            <label for="number">Edad</label>
            <input type="number" name="age" required>

            <label for="email">Correo electronico</label>
            <input type="email" name="email" required>  


            <select name = "job">
                <option value="" disabled selected>Selecione puesto</option>
                {% for job in jobs %}
                    <option value="{{job.id}}">{{job.name_job}}</option>
                {% endfor %}
            </select>
            {% comment %} <label for="">Puesto</label> {% endcomment %}
            {% comment %} <input list = "jobs" name ="job" required autocomplete="off"> {% endcomment %}

    </fieldset>
    <button type="submit">Registrar empleado</button>
</form>
<button><a href="{% url 'erp:index' %}">Regresar a menu</a></button>